<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- START: Head-->
<head>
    <meta charset="UTF-8">
    <title>Pick Admin</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <th:block th:insert="/admin/fragments/fragment::headerImport"></th:block>

</head>
<!-- END Head-->

<!-- START: Body-->
<body id="main-container" class="default">

<!-- START: Pre Loader-->
<div class="se-pre-con">
    <div class="loader"></div>
</div>
<!-- END: Pre Loader-->

<th:block th:insert="/admin/fragments/fragment::header"></th:block>


<th:block th:insert="/admin/fragments/fragment::sidebar"></th:block>

<!-- START: Main Content-->
<!-- START: Footer-->
<footer class="site-footer">
    2022 &copy; PICK
</footer>
<!-- END: Footer-->


<!-- START: Back to top-->
<a href="index.html#" class="scrollup text-center">
    <i class="icon-arrow-up"></i>
</a>
<!-- END: Back to top-->

<th:block th:insert="/admin/fragments/fragment::footerImport"></th:block>

</body>
<!-- END: Body-->
</html>

