<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- START: Head-->
<head>
    <meta charset="UTF-8">
    <title>Pick Admin</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <th:block th:insert="/admin/fragments/fragment::headerImport"></th:block>

</head>
<!-- END Head-->

<!-- START: Body-->
<body id="main-container" class="default">

<!-- START: Pre Loader-->
<div class="se-pre-con">
    <div class="loader"></div>
</div>
<!-- END: Pre Loader-->

<th:block th:insert="/admin/fragments/fragment::header"></th:block>


<th:block th:insert="/admin/fragments/fragment::sidebar"></th:block>

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <div class="contacts list">
            <div th:each="lesson:${lessons}" class="contact family-contact">
                <div class="contact-content">
                    <div class="contact-profile">
                        <div class="contact-email">
                            <p class="mb-0 small">Title: </p>
                            <p class="user-email" th:text="${lesson.title.name()}"></p>
                        </div>
                        <div class="contact-email">
                            <p class="mb-0 small">Price: </p>
                            <p class="user-email" th:text="${lesson.price}"></p>
                        </div>
                        <div class="contact-email">
                            <p class="mb-0 small">Duration: </p>
                            <p class="user-email" th:text="${lesson.duration.name()}"></p>
                        </div>
                        <div class="contact-email">
                            <p class="mb-0 small">Total Hours: </p>
                            <p class="user-email" th:text="${lesson.totalHours}"></p>
                        </div>
                        <div class="contact-email">
                            <p class="mb-0 small">Is Online: </p>
                            <p class="user-email" th:text="${lesson.isOnline()}"></p>
                        </div>
                        <div class="contact-profile">
                            <img th:if="${lesson.picture != null}">
                            <img th:src="@{/getImage(fileName=${lesson.picture})}" alt=""
                                 class="user-image img-fluid">
                            <img th:if="${lesson.picture == null}" src="/images/img_4.png" alt="avatar"
                                 class="user-image img-fluid">
                        </div>
                        <div class="line-h-1 h5">
                            <a class="text-success edit-contact"
                               th:href="@{'/admin/lesson/update/' + ${lesson.id}}">
                                <i class="icon-pencil"></i> </a>
                            <a class="text-danger delete-contact"
                               th:href="@{'/admin/lesson/delete/' + ${lesson.id}}"><i
                                    class="icon-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
</main>
<!-- START: Footer-->
<footer class="site-footer">
    2022 &copy; PICK
</footer>
<!-- END: Footer-->


<!-- START: Back to top-->
<a href="index.html#" class="scrollup text-center">
    <i class="icon-arrow-up"></i>
</a>
<!-- END: Back to top-->

<th:block th:insert="/admin/fragments/fragment::footerImport"></th:block>

</body>
<!-- END: Body-->
</html>


