<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- START: Head-->
<head>
    <meta charset="UTF-8">
    <title>Edit Lesson page</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <th:block th:insert="/admin/fragments/fragment::headerImport"></th:block>
</head>
<!-- END Head-->

<!-- START: Body-->
<body id="main-container" class="default">

<!-- START: Pre Loader-->
<div class="se-pre-con">
    <div class="loader"></div>
</div>
<!-- END: Pre Loader-->

<th:block th:insert="/admin/fragments/fragment::header"></th:block>

<th:block th:insert="/admin/fragments/fragment::sidebar"></th:block>


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Lessons</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form action="/admin/lesson/update" method="post">
                                        <label for="id" class="col-sm-2 col-form-label">id</label>
                                        <div class="col-sm-10">
                                            <input type="hidden" name="id" class="form-control" id="id"
                                                   th:value="${lessons.id}"></div>
                                        <div class="form-group row">
                                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select" name="title" id="title">
                                                    <option th:value="${lessons.title.C}">C</option>
                                                    <option th:value="${lessons.title.C_PLUS}">C++</option>
                                                    <option th:value="${lessons.title.JAVA}">Java</option>
                                                    <option th:value="${lessons.title.JS}">JS</option>
                                                    <option th:value="${lessons.title.PHP}">PHP</option>
                                                    <option th:value="${lessons.title.PYTHON}">PYTHON</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="price" class="col-sm-2 col-form-label">Price</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="price" class="form-control" id="price"
                                                       th:value="${lessons.price}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="duration" class="col-sm-2 col-form-label">Duration</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select" name="duration" id="duration">
                                                    <option th:value="${lessons.duration.MONTHS_3}">3_MONTHS
                                                    </option>
                                                    <option th:value="${lessons.duration.MONTHS_7}">7_MONTHS
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="totalHours" class="col-sm-2 col-form-label">Total
                                                Hours</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="totalHours" class="form-control"
                                                       id="totalHours"
                                                       th:value="${lessons.totalHours}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="isOnline" class="col-sm-2 col-form-label">Is Online</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select" name="isOnline" id="isOnline">
                                                    <option th:value="${lessons.online}">Online</option>
                                                    <option th:value="${lessons.online}">Offline</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                                <button type="reset" class="btn btn-outline-warning">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- END: Content-->
<th:block th:insert="/admin/fragments/fragment::footer"></th:block>


<!-- START: Back to top-->
<a href="index.html#" class="scrollup text-center">
    <i class="icon-arrow-up"></i>
</a>
<!-- END: Back to top-->

<th:block th:insert="/admin/fragments/fragment::footerImport"></th:block>

</body>
<!-- END: Body-->
</html>


