<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- START: Head-->
<head>
    <meta charset="UTF-8">
    <title>Add Lesson page</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <th:block th:insert="/admin/fragments/fragment::headerImport"></th:block>
</head>
<!-- END Head-->

<!-- START: Body-->
<body id="main-container" class="default">

<!-- START: Pre Loader-->
<div class="se-pre-con">
    <div class="loader"></div>
</div>
<!-- END: Pre Loader-->

<th:block th:insert="/admin/fragments/fragment::header"></th:block>

<th:block th:insert="/admin/fragments/fragment::sidebar"></th:block>


<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add New Lesson</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form th:object="${lesson}" action="/admin/lesson/add" method="post" enctype="multipart/form-data">
                                        <div class="form-group row">
                                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select" name="title" id="title">
                                                    <option value="JAVA">JAVA</option>
                                                    <option value="JS">JS</option>
                                                    <option value="C_PLUS">C++</option>
                                                    <option value="C">C</option>
                                                    <option value="PHP">PHP</option>
                                                    <option value="PYTHON">PYTHON</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="price" class="col-sm-2 col-form-label">Price</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="price" class="form-control" id="price"
                                                       placeholder="price">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="duration" class="col-sm-2 col-form-label">Duration</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select" name="duration" id="duration">
                                                    <option value="MONTHS_3">3_MONTHS</option>
                                                    <option value="MONTHS_7">7_MONTHS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="totalHours" class="col-sm-2 col-form-label">Total Hours</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="totalHours" class="form-control"
                                                       id="totalHours"
                                                       placeholder="totalHours">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="online" class="col-sm-2 col-form-label">Is Online</label>
                                            <div class="col-sm-10">
                                                <select class="custom-select" th:field="*{online}" id="online">
                                                    <option value="false">Offline</option>
                                                    <option value="true">Online</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="profPic" class="col-sm-2 col-form-label">Lesson Image</label>
                                            <input type="file" name="profPic" id="profPic" accept="image/*">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                                <button type="reset" class="btn btn-outline-warning">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- END: Content-->
<th:block th:insert="/admin/fragments/fragment::footer"></th:block>


<!-- START: Back to top-->
<a href="index.html#" class="scrollup text-center">
    <i class="icon-arrow-up"></i>
</a>
<!-- END: Back to top-->

<th:block th:insert="/admin/fragments/fragment::footerImport"></th:block>

</body>
<!-- END: Body-->
</html>


