<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- START: Head-->
<head>
    <meta charset="UTF-8">
    <title>Pick Admin</title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <th:block th:insert="/admin/fragments/fragment::headerImport"></th:block>

</head>
<!-- END Head-->

<!-- START: Body-->
<body id="main-container" class="default">

<!-- START: Pre Loader-->
<div class="se-pre-con">
    <div class="loader"></div>
</div>
<!-- END: Pre Loader-->

<th:block th:insert="/admin/fragments/fragment::header"></th:block>


<th:block th:insert="/admin/fragments/fragment::sidebar"></th:block>

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <div class="contacts list">
            <div th:each="question:${questions}" class="contact family-contact">
                <div class="contact-content">
                    <div class="contact-info">
                        <p class="contact-name mb-0"
                           th:text="${question.description + ' ' + (question.user!=null ? question.user.name: '')}"></p>
                    </div>
                </div>
                <div class="line-h-1 h5">
                    <a class="text-success edit-contact"
                       th:href="@{'/admin/questions/update/' + ${question.id}}">
                        <i class="icon-pencil"></i> </a>
                    <a class="text-danger delete-contact"
                       th:href="@{'/admin/questions/delete/' + ${question.id}}"><i
                            class="icon-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- START: Footer-->
<footer class="site-footer">
    2022 &copy; PICK
</footer>
<!-- END: Footer-->


<!-- START: Back to top-->
<a href="index.html#" class="scrollup text-center">
    <i class="icon-arrow-up"></i>
</a>
<!-- END: Back to top-->

<th:block th:insert="/admin/fragments/fragment::footerImport"></th:block>

</body>
<!-- END: Body-->
</html>


