<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>SmartEDU - Education Responsive HTML5 Template</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="/css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="/js/modernizer.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<head>

</head>
<body class="host_version">
<!-- Modal -->
<th:block th:insert="/web/fragments/fragment::loginImport"></th:block>

<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item" th:if="${currentUser != null}">
                        <a class="nav-link" href="/my_profile"
                           th:text="${currentUser!= null?'My Profile':'Home'}">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/compiler">Compiler</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about_us">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/course">Course </a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Teachers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/question">Discussion</a></li>
                </ul>
                <th:block th:insert="/web/fragments/fragment::loginRegister"></th:block>
            </div>
        </div>
    </nav>
</header>

<select class="" name="" id="select-lang">
    <option th:selected="${programLang == 'java'}" value="java">java</option>
    <option th:selected="${programLang=='php'}" value="php">PHP</option>
    <option th:selected="${programLang=='c'}" value="c">C</option>
    <option th:selected="${programLang=='cpp'}" value="cpp">C++</option>

</select>
<div id="content">

    <div id="java" data-pym-src='https://www.jdoodle.com/plugin'
         th:attr="data-language=${programLang == null ? 'java':programLang}"
         data-version-index="4" data-libs="org.apache.commons:commons-lang3:3.4"
         style="white-space: pre;"
         th:text="${programLang=='java' ? 'public class SmartEducation {  &#10; public static void main(String[] args) {  &#10;  System.out.println(&quot;Java &quot;);  &#10;}  &#10;}'
    : programLang=='php' ? '<?php &#10; ECHO &quot;Hello World!&quot;; &#10;?>'
    : programLang=='c' ? '#include <stdio.h>&#10; int main() {&#10; printf(&quot;Hello World!&quot);&#10; return 0;}'
    : '#include <iostream> &#10;using namespace std;&#10;int main() { &#10; cout << &quot;Hello World!&quot;; &#10; return 0; }'}">

    </div>

</div>
<th:block th:insert="/web/fragments/fragment::FooterImport"></th:block>

</body>
<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
<script src="/vendors/jquery/jquery-3.3.1.min.js"></script>
<script src="/vendors/jquery-ui/jquery-ui.min.js"></script>
<script>

    $('#select-lang').on('change', function () {
        var value = this.value;
        location.href = '/compiler?programLang=' + value;
    });
</script>
</html>
