<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>SmartEDU - Education Responsive HTML5 Template</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/style.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="/css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/custom.css">

<!-- Modernizer for Portfolio -->
<script src="/js/modernizer.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<head>

</head>
<body class="host_version">
<!-- Modal -->
<th:block th:insert="/web/fragments/fragment::loginImport"></th:block>

<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt=""/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item" th:if="${currentUser != null}">
                        <a class="nav-link" href="/my_profile"
                           th:text="${currentUser!= null?'My Profile':'Home'}">
                        </a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/compiler">Compiler</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about_us">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/course">Course </a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers">Teachers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/question">Discussion</a></li>
                </ul>
                <th:block th:insert="/web/fragments/fragment::loginRegister"></th:block>
            </div>
        </div>
    </nav>
</header>
<div class="row">
    <div class="col-4">

        <form action="/question/search" id="search">
            <input type="search" name="keyword" placeholder="Type something" value="">
            <button type="submit" class="btn btn-light btn-radius btn-brd grd1">Search</button>
        </form>
    </div>
    <div class="col-6">

        <div>
            <input type="text" id="description">
            <button type="submit" class="btn btn-light btn-radius btn-brd grd1" id="send">Add New Question</button>
        </div>
    </div>
</div>
<div class="contact family-contact" id="question" style="height: 60%">
    <div th:each="question:${questions}">
        <div class="contact-content" style="border: solid 1px">
            <div class="contact-info">
                <strong class="contact-name mb-0"
                        th:text="${(question.user!=null ? question.user.name + ':':' ')}"></strong>
                <a th:href="@{'/single_question/' + ${question.id}}" class="btn">
                    <span th:utext="${question.description}"></span>
                </a>
                <input type="hidden" th:value="${question.getId()}" id="questionId">
            </div>
        </div>
    </div>
</div>

<th:block th:insert="/web/fragments/fragment::FooterImport"></th:block>

<!-- End header -->


<script>
    $("#send").on("click", function () {
        let description = $('#description').val();

        $.ajax({
            type: 'POST',
            data: JSON.stringify({
                description: description,
            }),
            url: '/question',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#description').val('');
                $('#question').append(
                    '<div class="contact-content">' +
                    '            <div class="contact-info">' +
                    '                <strong class="contact-name mb-0">' + data.user.name + ':</strong>' +
                    '                <a href="/single_question/' + data.id + '" class="btn">' +
                    '<span>' + data.description + '</span>' +
                    '                </a>' +
                    '                <input type="hidden" value="' + data.id + '" id="questionId">' +
                    '            </div>' +
                    '        </div>'
                );
            },
            error: function (er) {
                console.log(er);
            }
        });
    });

</script>
</body>
</html>
